# python histroy codes
.history/


# python cache
__pycache__/
examples/__pycache__/

# model
weight.npy


# data
examples/data/

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
MANIFEST